<footer class="footer">
	<div class="container">
		<div class="row-fluid">
			<div class="span3">
				<h4>About Us</h4>
				<nav>
					<ul>
						<li><%= link_to "About BattleBox", "#" %></li>
						<li><%= link_to "Privacy Policy", "#" %></li>
					</ul>
				</nav>
			</div>
			<div class="span3">
				<h4>Promoters</h4>
				<nav>
					<ul>
						<li><%= link_to "Info for Promoters", "#" %></li>
						<li><%= link_to "More Info", "#" %></li>
						<li><%= link_to "How To Make Money", "#" %></li>
					</ul>
				</nav>
			</div>
			<div class="span3">
				<h4>Artists</h4>
				<nav>
					<ul>
						<li><%= link_to "It's Profitable", "#" %></li>
						<li><%= link_to "BattleBox Benefits", "#" %></li>
						<li><%= link_to "More Info", "#" %></li>
					</ul>
				</nav>
			</div>
			<div class="span3">
				<h4>Help</h4>
				<nav>
					<ul>
						<li><%= link_to "Submit a bug", "#" %></li>
						<li><%= link_to "FAQs", "#" %></li>
					</ul>
				</nav>
			</div>
		</div>

		<small class="copyright">
			Copyright &copy; 2013. All rights reserved by BattleBox.
		</small>
	</div>
</footer>