<header class="bb-navbar navbar-fixed-top">
	<div id="top-strip"></div>
	<div class="bb-navbar-inner">
		<div class="container">
			<nav class="custom-navbar">
				<ul>
					<li class="nav-line"><%= link_to "talent", "#" %></li>
					<li class="nav-line"><%= link_to "fans", "#" %></li>
					<li class="nav-line"><%= link_to "industry", "#" %></li>
					<li class="nav-line"><%= link_to "brands", "#" %></li>
					<li class="nav-line"><%= link_to "battlebox.tv", "#" %></li>
					<li class="nav-line"></li>
				</ul>
				<ul class="nav-right pull-right">
					<li><%= link_to "Sign Up", root_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>